doctype html
html(class='no-js')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')

		title Monoalphabetic cipher

		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		link(rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap.min.css')
		//link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')

	body

		.container
			ul.nav.nav-pills
				li
					a(href="/") Main
				li
					a(href="/ceasar") Ceasar
				li
					a(href="/tritemius") Trithemius


			h1 Monoalphabetic cipher
			hr
			.row
				.col-md-6
					h3 Encrypt
					.form-group
						textarea#crypt-string.form-control(rows='10', placeholder='Enter your string')
					.form-group
						button#crypt.btn.btn-primary Encrypt
						//button#crypt-fd.btn.btn-default(data-toggle="modal" data-target=".alphabet-modal") Frequency dictionary
					.well
						strong Encrypted result: 
						pre#crypt-result

				.col-md-6.col-offset-md-6
					h3 Decrypt
					.form-group
						textarea#decrypt-string.form-control(rows='10', placeholder='Enter your crypted string')
					.form-group
						button#decrypt.btn.btn-primary Decrypt
						//button#decrypt-fd.btn.btn-default(data-toggle="modal" data-target=".alphabet-modal") Frequency dictionary
					.well
						strong Decrypted result: 
						pre#decrypt-result

		.modal.fade.alphabet-modal(tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel")
			.modal-dialog.modal-sm
				.modal-content
					.modal-header
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") ×
						h3 Frequency dictionary
					.modal-body
						ul.list-group(id="symbol")

		script(src='/vendor/jquery/dist/jquery.min.js')
		script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
		script(src='/js/mono.js')
