doctype html
html(class='no-js')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')

		title Veginere cipher

		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		link(rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap.min.css')
		//link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')

	body

		.container
			ul.nav.nav-pills
				li
					a(href="/") Main
				li
					a(href="/ceasar") Ceasar
				li
					a(href="/mono_alphabet") Monoalphabetic
				li
					a(href="/tritemius") Tritemius
				li
					a(href="/playfair") Playfair


			h1 Vigenere cipher
			hr
			.row
				.col-md-6
					h3 Encrypt
					.form-group
						textarea#crypt-string.form-control(rows='10', placeholder='Enter your string')
					.form-group
						.row
							.col-md-6
								.input-group
									.input-group-addon Key word
									input#crypt-key.form-control(type='text', placeholder='Enter key word')

					.form-group
						button#crypt.btn.btn-primary Encrypt
						//button#crypt-fd.btn.btn-default(data-toggle="modal" data-target=".alphabet-modal") Frequency dictionary
					.well
						strong Encrypted result: 
						pre#crypt-result

				.col-md-6.col-offset-md-6
					h3 Decrypt
					.form-group
						textarea#decrypt-string.form-control(rows='10', placeholder='Enter your crypted string')
					.form-group
						.row
							.col-md-6
								.input-group
									.input-group-addon Key word
									input#decrypt-key.form-control(type='text', placeholder='Enter key word')
					.form-group
							button#decrypt.btn.btn-primary Decrypt
							button#decrypt-fd.btn.btn-default(data-toggle="modal" data-target=".alphabet-modal") Frequency dictionary chart
							button#hash-btn.btn.btn-default(data-toggle="modal" data-target=".hash-modal") Get alphabet hash
					.well
						strong Decrypted result: 
						pre#decrypt-result


		.modal.fade.alphabet-modal(id="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel")
			.modal-dialog.modal-lg
				.modal-content
					.modal-header
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") ×
						h3 Frequency dictionary chart (Veginere)
					.modal-body
						canvas(id="graph" width="400" height="400")

		.modal.fade.hash-modal(id="hashModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel")
			.modal-dialog.modal-lg
				.modal-content
					.modal-header
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") ×
						h3 Alphabet hash
					.modal-body
						textarea#decrypt-hash.form-control(rows='10')


		script(src='/vendor/jquery/dist/jquery.min.js')
		script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
		script(src="/vendor/Chart.js/Chart.min.js")
		script(src='/js/veg.js')
